$color-surface-1: #FBFBFB;
$color-surface-2: #FFF;
$color-border: #E0E0E0;
$color-primary: #0D6EFD;
$color-danger: #DC3545;
$color-inactive: #6C757D;
$color-focus: rgba($color-primary, 0.7);

$font-size-text: 14px;
$font-size-h4: 16px;
$font-size-h2: 32px;

$effect-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
$effect-border: 1px solid $color-border;
$effect-border-radius: 10px;

$breakpoint-lg: 992px;
